@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");

:root {
  /* Whenever you use josefin Sans as a font, add font-weight (light or regular/bold) */
  /* This should be regular font weight */
  --ff-pri: "Josefin Sans", sans-serif;
  /* This should be light font weight hen used) */
  --ff-sec: "Josefin Sans", sans-serif;
  --ff-ter: "Lexend", sans-serif;

  /* For font seizing */
  --fs-xs: 0.8rem;
  --fs-s: 1.2rem;
  --fs-m: clamp(1.1rem, 1vw + 0.8rem, 1.8rem);
  --fs-l: clamp(1.7rem, 2.36vw + 1rem, 3.1rem);
  --fs-xl: clamp(2.3rem, 3.54vw + 1rem, 4.2rem);

  /* For colors */
  --clr-bg: #f4f4f4;
  --clr-pri: #373635;
  --clr-sec: #e1d0bf;
  --clr-blck: #000;
  /* Maybe we add a new accent color */
  --clr-acc: #e1d0bf;

  /* For seizing in general */
  --sp-xs: 0.5rem;
  --sp-s: 1rem;
  --sp-m: 2rem;
  --sp-l: 4rem;
  --sp-xl: 8rem;
  --sp-xxl: 12rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: var(--ff-ter);
}

h1 {
  font-family: var(--ff-pri);
  font-weight: normal;
  font-size: var(--fs-xl);
}

h2 {
  font-family: var(--ff-sec);
  font-weight: lighter;
  font-size: var(--fs-l);
}

p {
  font-family: var(--ff-ter);
  font-size: var(--fs-s);
}





/* CUSTOMISE PAGE */

#customisebody {
    background-color: var(--clr-bg);
    margin: var(--sp-l);
  }

#customisemain {
    display: grid;
    grid-template-rows: auto;
    gap: 5rem;
}  

#header {
    grid-row: 1 / 2;
    position: relative;
    text-align: center;
    margin: -4rem;
}
  
#customisemain h1, #customisemain h2 {
    text-transform: uppercase;
  }

#header img {
    display: block;
    max-width: 100%;
    height: auto;
}  

#header_text {
    position: absolute;
    color: var(--clr-bg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 10px #5e5d5d;
}
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--sp-l);
  }
    
  .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--sp-m);
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-xs);
    margin: 2rem 0 1rem 0;

    font-family: var(--ff-ter);
    font-size: var(--fs-s);
    text-transform: uppercase;
  }
  
  .smallflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--sp-m);
  } 


  /* step one */
  
  #title_subtitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  form img {
    display: block;
    max-width: 25%;
    height: auto;
    border-radius: 50%;
  }
  
  /* step two */
  
  #steptwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--sp-m);
  }

  #steptwo img {
    display: block;
    max-width: 40%;
    height: auto;
    border-radius: 50%;
  }
  
  /* step three */
  
  #stepthree {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--sp-m);
  }

  #stepthree img {
    display: block;
    max-width: 30%;
    height: auto;
    border-radius: 50%;
  }

  
  /* HIDE CHECKBOX AND RADIO */
  [type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=checkbox] + img {
    cursor: pointer;
  }

  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=checkbox]:checked + img {
    outline: 3px solid #faaa5f;
    outline-offset: 2px;
  }

  [type=radio]:checked + img {
    outline: 3px solid #faaa5f;
    outline-offset: 2px;
  }
  
.subtotal_box {
    background-color: var(--clr-acc);
    padding: var(--sp-s);
}




@media only screen and (min-width: 650px) {
    
    /* CHECKBOX AND RADIO GRID */
    #options1 {
      display: grid;
      grid-template-columns:repeat(3, 1fr);
      grid-template-rows: min-content;
    }

    #options2 {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: min-content;
      }

    #options3 {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: min-content;
      }  
  
    form img {
      display: block;
      max-width: 40%;
      height: auto;
      border-radius: 50%;
    }
  }
  
  @media only screen and (min-width: 1100px) {
    
    #header img {
        display: block;
        max-width: 100%;
        height: auto;
    }  
    
    #header_text {
        position: absolute;
        color: var(--clr-bg);
        top: 50%;
        right: -15%;
        transform: translate(-50%, -50%);
    }

    /* CHECKBOX AND RADIO GRID */
    #options1 {
      display: grid;
      grid-template-columns:repeat(4, 1fr);
      grid-template-rows: min-content;
    }

    #options2 {
        display: grid;
        grid-template-columns:repeat(5, 1fr);
        grid-template-rows: min-content;
      }

    #options3 {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: min-content;
      }  
  
    form img {
      display: block;
      max-width: 40%;
      height: auto;
      border-radius: 50%;
    }
  }