@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");

:root {
  /* Whenever you use josefin Sans as a font, add font-weight (light or regular/bold) */
  /* This should be regular font weight */
  --ff-pri: "Josefin Sans", sans-serif;
  /* This should be light font weight hen used) */
  --ff-sec: "Josefin Sans", sans-serif;
  --ff-ter: "Lexend", sans-serif;

  /* For font seizing */
  --fs-xs: 0.8rem;
  --fs-s: 1.2rem;
  --fs-m: clamp(1.1rem, 1vw + 0.8rem, 1.8rem);
  --fs-l: clamp(1.7rem, 2.36vw + 1rem, 3.1rem);
  --fs-xl: clamp(2.3rem, 3.54vw + 1rem, 4.2rem);

  /* For colors */
  --clr-bg: #f4f4f4;
  --clr-pri: #373635;
  --clr-sec: #e1d0bf;
  --clr-blck: #000;
  /* Maybe we add a new accent color */
  --clr-acc: #e1d0bf;

  /* For seizing in general */
  --sp-xs: 0.5rem;
  --sp-s: 1rem;
  --sp-m: 2rem;
  --sp-l: 4rem;
  --sp-xl: 8rem;
  --sp-xxl: 12rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: var(--ff-ter);
}

h1 {
  font-family: var(--ff-pri);
  font-weight: normal;
  font-size: var(--fs-xl);
}

h2 {
  font-family: var(--ff-sec);
  font-weight: lighter;
  font-size: var(--fs-l);
}

p {
  font-family: var(--ff-ter);
  font-size: var(--fs-s);
}

/* HOME PAGE */
.banner {
  display: flex;
  justify-content: center;
}

.frame {
  position: relative;
  width: 100%;
}

.frame img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.frame a {
  position: absolute;
  top: 220px;
  text-align: center;
  width: 100%;
  z-index: 10;
  color: whitesmoke;
  text-decoration: none;
  font-size: 2.5rem;
}

.bestproducts h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.productgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(233px, 200px));
  gap: 1.5rem;
  justify-content: center;
}

article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.soapinfo,
.buttons {
  display: flex;
  justify-content: space-between;
}

.soapinfo {
  border-bottom: black 1px solid;
}

.buttons {
  padding-top: 1rem;
}

button {
  background-color: #e1d1bf;
  border: none;
  padding: 0.5rem;
}
.howitworks h2 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}
.howgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-content: center;
}

.howgrid article {
  text-align: center;
  background-color: #eeeeee;
}

.reviews {
  margin-bottom: 4rem;
}
.reviews h2 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.reviewlayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.singlereview {
  display: flex;
  gap: 1rem;
}

.singlereview img {
  max-width: 100%;
}

.textcontainer {
  background-color: #eeeeee;
  padding: 2rem;
}

.companyinfo {
  display: flex;
  justify-content: space-between;
  background-color: #e1d1bf;
  padding: 2rem;
}

