@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");

:root {
  /* Whenever you use josefin Sans as a font, add font-weight (light or regular/bold) */
  /* This should be regular font weight */
  --ff-pri: "Josefin Sans", sans-serif;
  /* This should be light font weight hen used) */
  --ff-sec: "Josefin Sans", sans-serif;
  --ff-ter: "Lexend", sans-serif;

  /* For font seizing */
  --fs-xxs: 0.5rem;
  --fs-xs: 0.8rem;
  --fs-s: 1.2rem;
  --fs-m: clamp(1.1rem, 1vw + 0.8rem, 1.8rem);
  --fs-l: clamp(1.7rem, 2.36vw + 1rem, 3.1rem);
  --fs-xl: clamp(2.3rem, 3.54vw + 1rem, 4.2rem);

  /* For colors */
  --clr-bg: #f4f4f4;
  --clr-pri: #373635;
  --clr-sec: #e1d0bf;
  --clr-blck: #000;
  /* Maybe we add a new accent color */
  --clr-acc: #e1d0bf;

  /* For seizing in general */
  --sp-xs: 0.5rem;
  --sp-s: 1rem;
  --sp-m: 2rem;
  --sp-l: 4rem;
  --sp-xl: 8rem;
  --sp-xxl: 12rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-ter);
  background-color: var(--clr-bg);
}

h1 {
  font-family: var(--ff-pri);
  font-weight: normal;
  font-size: var(--fs-xl);
}

h2 {
  font-family: var(--ff-sec);
  font-weight: lighter;
  font-size: var(--fs-l);
}

h3 {
  font-family: var(--ff-sec);
  font-weight: normal;
  font-size: var(--fs-s);
}
h4 {
  font-family: var(--ff-sec);
  font-weight: normal;
  font-size: 0.9rem;
}

p {
  font-family: var(--ff-ter);
  font-size: var(--fs-s);
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--sp-s);
  font-family: var(--ff-sec);
  font-size: var(--fs-s);
}

nav a {
  color: var(--clr-pri);
  text-decoration: none;
}
.navflex {
  display: flex;
  justify-content: space-between;
  margin: var(--sp-m);
}

.toggle-btn {
  background: transparent;
  border: none;
  display: block;
  min-height: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}
.close {
  background: transparent;
  border: none;
  display: block;

  min-height: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}

.navicons {
  display: none;
}

.togglebuttonflex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  display: none;
}

nav.shown {
  border-top: 1px solid var(--clr-pri);
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

nav ul {
  display: flex;
  flex-flow: column;
}
.banner {
  border-bottom: 1px solid var(--clr-pri);
  width: 90%;
  margin-left: 5%;
  padding-bottom: 0.5rem;
}

/* Footer */
footer {
  background-color: var(--clr-pri);
  font-family: var(--ff-ter);
  font-size: var(--fs-s);
  color: white;
  display: grid;
  padding: var(--sp-m);
  gap: var(--sp-xl);
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.copyright {
  color: gray;
}

/* Media for burgermenu */

@media (min-width: 1000px) {
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
  .navicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sp-s);
  }
  .navflex {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    flex-flow: row;
    gap: var(--sp-m);
  }

  nav ul li {
    font-size: var(--fs-s);
  }

  .logo {
    width: 6%;
  }
  nav {
    display: block;
    flex-flow: row;
  }

  /* burgermenu */
  .toggle-btn {
    display: none;
  }
  .close {
    display: none;
  }
  footer {
    display: flex;
    gap: var(--sp-l);
    justify-content: space-between;
  }
  .socials {
    width: 20%;
  }
}

@media (min-width: 1300px) {
  nav ul li {
    font-size: var(--fs-s);
  }
}

/* HOME PAGE */
.images {
  display: flex;
  justify-content: center;
}

.frame {
  position: relative;
  width: 100%;
}

.frame img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.frame a > h1 {
  position: absolute;
  top: 250px;
  text-align: center;
  width: 100%;
  z-index: 10;
  color: whitesmoke;
  text-decoration: none;
}

.frame a:hover h1 {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.frame a:hover img {
  filter: brightness(80%);
}

.bestproducts,
.howitworks,
.reviews {
  margin-left: 1rem;
  margin-right: 1rem;
}

.bestproducts h2 {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.productgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 200px));
  gap: 1.5rem;
  justify-content: center;
}
.productgridmain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 200px));
  grid-column-gap: 1.5rem;
  justify-content: center;
}

article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.soapImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.soapImage:hover {
  opacity: 0.5;
}

.soapinfo {
  margin-bottom: 0.8rem;
}
/* .buttonss {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding: 1rem;
} */

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  cursor: pointer;
}

button {
  background-color: #edb3b4;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.buttonstyle {
  background-color: #edb3b4;
  border: none;
  padding: 1rem;
  cursor: pointer;
  color: black;
  font-family: var(--ff-sec);
  font-size: var(--fs-xs);
}

.buttons a {
  text-decoration: none;
}

.price {
  text-align: left;
  font-size: var(--fs-s);
}

.soppingbag {
  background-image: url(svg/Shopping-Bag.svg);
  background-size: auto;
  background-repeat: no-repeat;
  aspect-ratio: 1/1.2;
  width: 10%;
  height: 10%;
  margin-right: 0.5rem;
}
.shoppingbag {
  background-image: url(svg/Shopping-Bag.svg);
  background-size: auto;
  background-repeat: no-repeat;
  aspect-ratio: 1/1.2;
  width: 25px;
  height: 100px;
  margin-right: 1px;
}

.howitworks h2 {
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
}
.howgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-content: center;
}

.howgrid article {
  text-align: center;
  background-color: #eeeeee;
  padding: 0 2rem 2rem 2rem;
}

.howgrid img {
  height: 6rem;
  width: 6rem;
  background-color: var(--clr-sec);
  border-radius: 50%;
  padding: 0.3rem;
  margin-top: 1.5rem;
}
.howgrid h3 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.reviews {
  margin-bottom: 4rem;
}
.reviews h2 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
}

.reviewlayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.singlereview {
  display: flex;
  gap: 1rem;
}

.singlereview img {
  max-width: 50%;
  height: auto;
}

.textcontainer {
  background-color: #e3e3e3;
  padding: 3rem;
  line-height: 2.3rem;
}

.stars5 {
  background-image: url(svg/stars4.svg);
  background-size: auto;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 8rem;
  height: 1.5rem;
}

.stars4 {
  background-image: url(svg/stars5.svg);
  background-size: auto;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 8rem;
  height: 1.5rem;
}

.dots {
  display: flex;
  justify-content: center;
  padding-top: 2.3rem;
}
#shopname {
  padding-top: 1rem;
  padding-left: 5rem;
  padding-bottom: 3rem;
}

.full {
  background-image: url(svg/fulldot.svg);
  background-size: auto;
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 1.1rem;
}
.empty {
  background-image: url(svg/emptydot.svg);
  background-size: auto;
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 1.1rem;
}

.companyinfo {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-sec);
  padding: 3rem;
  gap: 3rem;
}

.ingredients,
.shipping,
.packaging {
  display: flex;
  gap: 2rem;
}

.plant {
  background-image: url(svg/Leaf.svg);
  background-size: auto;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 4rem;
  height: 4rem;
}

.car {
  background-image: url(svg/vector.svg);
  background-size: auto;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 4rem;
  height: 4rem;
}

.upcycle {
  background-image: url(svg/Refresh2.svg);
  background-size: auto;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 4rem;
  height: 4rem;
}

/* HOME PAGE MEDIA QUERIES*/

@media screen and (max-width: 950px) {
  .howgrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .reviewlayout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .singlereview {
    max-height: 25rem;
  }

  .singlereview img {
    max-width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .singlereview {
    max-height: 28rem;
  }

  .singlereview img {
    max-width: 40%;
    height: auto;
  }
  .companyinfo {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
}

@media screen and (max-width: 515px) {
  .productgrid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 300px));
    gap: 3rem;
  }

  article img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

/* PRODUCT PAGE */

.singlesoap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 2.5rem;
  padding-top: 4rem;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 100%;
}

.soapcontainer {
  grid-column: 1/2;
  position: relative;
  width: 100%;
}

.soapcontainer img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.soapinfo {
  grid-column: 2/3;
}

.span {
  font-weight: bolder;
}

.quant {
  background-color: rgb(255, 255, 255);
  min-width: 72px;
  min-height: 48px;
  border: 1px solid rgb(217, 217, 217);
  text-align: center;
  padding: 5px 0px 5px;
  align-items: center;
  transition: all 0.15s linear 0s;
  color: rgb(0, 0, 0);
}

.quant:hover {
  border-color: rgb(119, 118, 120);
}

.related {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.relatedgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2rem 0 2rem 0;
}

.basket {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.pricebox,
.colorbox,
.weightbox,
.availbox,
.ingredbox,
.essentialbox,
.certifybox {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.color,
.weight,
.availability,
.ingredients,
.essential,
.certified {
  font-size: var(--fs-xs);
}

#cer {
  visibility: hidden;
}
@media screen and (max-width: 1180px) {
  .singlesoap {
    padding-left: 4rem;
    padding-right: 2rem;
  }

  .related {
    padding-left: 4rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .singlesoap {
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .soapcontainer {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #e6e8eb;
  }

  .soapcontainer img {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
  .soapinfo {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .basket {
    margin-bottom: 2rem;
  }

  .related {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .relatedgrid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
  }

  .relatedgrid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .related .productname,
  .related .price {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .pricebox,
  .colorbox,
  .weightbox,
  .availbox,
  .ingredbox,
  .essentialbox,
  .certifybox {
    gap: 2rem;
  }
  .soppingbag {
    aspect-ratio: 1/1.2;
    width: 13%;
    height: 13%;
    margin-right: 0.5rem;
  }
}
